.notification {
  font-size: 14px;
  box-sizing: border-box;
  top: 31px;
  right: 0px;
  background-color: aqua;
  width: 300px;
  height: 80px;
}
.notification-div {
  right: 0;
  top: 20;
  height: 100vh;
  max-width: 30vw;
  position: absolute;
}

@keyframes noti {
  from {
    margin-left: 58%;
  }
  to {
    /* margin-left: 38%; */
  }
}
