.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  /* top: 10%; */
  align-items: center;
  overflow-x: hidden;
  z-index: 2;
}
.video-div {
  width: 80%;
  align-self: center;
}
.appbox {
  border: 1px solid grey;
  width: 25%;
  height: 45%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.p {
  margin-top: 5%;
  color: grey;
}
.yellow-button {
  width: 50%;
  align-self: center;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: rgb(-2 101 151);
  padding: 10px;
  color: white;
  margin-top: 5%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
